body{
    background-image: url("./ba.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
.logo
{
    margin-left: 500px;
    margin-top:50px;
}
h1{
    font-size: 100px;
}
button{
    height:50px;
    width:150px;
    
    
}

