*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family :'Kaushan Script', cursive;

}
body
{
    background-color:whitesmoke;

}
.header
{
     position: fixed;
     top:0;
     left: 0;
     width:100%;
     padding:20px 10%;
     background-color:darkgreen;
     display:flex;
     justify-content: space-between;
     align-items:center;
     z-index: 100;
}
.logo
{
    font-size: 25px;
    color:whitesmoke;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;

}
.navbar a 
{
    font-size:18px;
    color:whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover
{
     color:black;
}
.pic
{
    margin-top:120px;
}
.mySlides img{
    height:600px;
    width:2000px;
    margin-top: 60px;
    background-size: cover;

}
#feature p,h1{
    font-family: 'Poppins', sans-serif;
}
#feature p
{
    margin:auto;
    font-size: 20px;
    color:darkgreen;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}


#feature h1
{
    margin:auto;
    font-size: 50px;
    color:black;
    font-weight: bold;
    margin-left: 515px;

}
.feature-box
{
    width:80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
   

}
.features h2{
    margin-left: 450px;
    

}
.feature-box  h2
{
    font-family :'Kaushan Script', cursive;
    font-size: 50px;
}
.feature-img img
{
    height:500px;
    width:600px;
    padding:80px;
   margin-left: 300px;
   margin-top:-45px;
}
.rel h2
{
    font-family :'Kaushan Script', cursive;
    margin-left: 550px;
    margin-top: -30px;
    font-size: 50px;

}
.desc1 p{
   margin-left: 300px;
}
.desc1 img
{
    
    height:500px;
    width:600px;
    padding:80px;
   margin-left: 90px;
   margin-top:-45px;

}
.desc2 p{
    margin-left: 300px;
 }
.desc2 img
{
    
    height:500px;
    width:600px;
    padding:80px;
   margin-left: 120px;
   margin-top:-45px;

}
.fle h2
{
    
    font-family :'Kaushan Script', cursive;
    margin-left: 500px;
    margin-top: -30px;
    font-size: 50px;

}
.exp
{
    height:80px;
    width:2000px;
    border:2px solid black;
    background-color: darkgreen;
    
}
.exp h2
{
    color: white;
}
.section h3
{
    font-family: 'Poppins', sans-serif;
}